################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPattern_Mediator/.vs/DesignPattern_Mediator/v16
/DesignPattern_Mediator/DesignPattern_Mediator/bin/Debug/net5.0
/DesignPattern_Mediator/DesignPattern_Mediator/obj
